---
import ProtectedRoute from '@components/core/ProtectedRoute'
import PanelDeUsuario from '../layouts/PanelDeUsuario.astro'
---

<ProtectedRoute client:only>
  <PanelDeUsuario title="Panel de usuario">
    <div class="p-4 sm:ml-64 w-auto h-full">Admin citas</div>
  </PanelDeUsuario>
</ProtectedRoute>
