---
import Layout from '../layouts/Layout.astro'
import Filters from '@components/Filters/Filters.jsx'
import InfoCard from '@components/InfoCard.jsx'
import SearchBar from '@components/SearchBar.jsx'
import Header from '@components/Header'
---

<Layout title="ASISEG">
  <Header />
  <main>
    <SearchBar client:visible />
    <!-- <SearchInput client:visible /> -->

    <div class="flex flex-row">
      <!-- <div class="w-1/6"> -->
      <Filters client:visible />
      <!-- </div> -->
      <div class="flex flex-col justify-center items-center w-full mt-5 mx-5">
        <section
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 3xl:grid-cols-5 gap-5"
        >
          <!-- sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 -->
          <InfoCard client:visible />
          <InfoCard client:visible />
          <InfoCard client:visible />
          <InfoCard client:visible />
          <InfoCard client:visible />
          <InfoCard client:visible />
          <InfoCard client:visible />
          <InfoCard client:visible />
          <InfoCard client:visible />
        </section>
      </div>
    </div>
  </main>
</Layout>
