.p-multiselect-header{
    background-color: #03989E;
    opacity: .2;
}
.p-multiselect-close svg{
    color: #000;
}
.p-multiselect-item{
    background: #F4F4F5;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item:not(.p-highlight):not(.p-disabled):hover{
    background: #A6A6A6;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item:focus{
    box-shadow: inset 0 0 0 0.15rem #03989E;

}
.p-hidden-accessible input{
    border: 1px solid #000;
}