<div class="flex flex-row w-full">
  <div class="flex justify-start">
    <a href="/">
      <img
        alt="logo"
        src="/Logo.svg"
        class="w-32 sm:w-48 lg:w-60 mt-2.5 ml-12"
      />
    </a>
  </div>

  <div class="flex justify-end w-full">
    <div class="items-start my-5 mx-5">
      <button
        class="text-white bg-asiseg-gray hover:bg-slate-700 p-2 rounded-md mr-1"
        >Registrarse</button
      >
      <button
        class="text-white bg-asiseg-blue hover:bg-sky-500 p-2 rounded-md ml-1"
        >Iniciar sesión</button
      >
      <!-- <img alt="logo" src="user.svg" class="w-14 mx-10 rounded-full border-4" /> -->
    </div>
  </div>
</div>
