---
import ProtectedRoute from '../../Views/components/ProtectedRoute'
import PanelDeUsuario from '../../layouts/PanelDeUsuario.astro'
---

<ProtectedRoute client:only>
  <PanelDeUsuario title="Modificar tarjeta">
    <div class="p-4 sm:ml-64 w-auto h-full">Modificar tarjeta</div>
  </PanelDeUsuario>
</ProtectedRoute>
